*{
    margin: 0;
    padding: 0;
    font-family:verdana;
}

body{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color:rgb(222, 220, 224);
    font-family:verdana;
}

.box{
    margin: 70px 30px;
    display: flex;
    flex-direction: row;
    justify-content:center;
    align-items:center;


}

.leftside{
    width: 50%;
    font-family:verdana;
    font-size: small;
    display: flex;
    
    flex-direction: column;
     

}
h1{
    color: rgb(5, 13, 235);
    font-size: 60px;
    font-family:verdana;
}

h2{
    color: black;
    font-family:verdana;
    font-size: small;

}

.rightside{
    display: flex;
    align-items: center;
    flex-direction: column;
    
    

}

.loginpage{
    display: flex;
    align-items: center;
    flex-direction:column;
   background-color: white;
   width: 450px;
   height: 390px;
   box-shadow: -10px -10px 15px rgb(0,0,0,0.1),10px 10px 15px rgb(0,0,0,0.1);
   border-radius: 10px;
}

form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 15px 0px ;


}

input{
    width: 380px;
    height: 50px;
    margin: 10px 0px;
    padding: 0px 10px;
    border-radius: 10px;
    outline: none;
    border: 1px solid grey;
    font-size: 18px;

}
input:hover{
    opacity: 0.5;
    border-color: grey;
}

.loginbutton{
    width: 380px;
    height: 50px;
    background-color: blue;
    border: 1px solid blue;
    border-radius: 10px;

}
button{
    font-size: 30px;
    font-weight: 400;
    color: white;
}
p{
    color: blue;
    font-weight: 200;
}

.createnewaccount{
    border:1px solid green;
    color:white;
    background-color: green;
    font-size: large;
    width: 200px;
    height: 50px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
   
}

span{
    margin: 20px 10px;
    font-weight: 200;
    font-size: 18px;
}